{% extends "base.html" %}

{% block scripts %}
{{ super() }}


{% endblock %}

{% block tabs %}
{{ super() }}
<!-- Additional styles for landing page -->
<style>

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none;
        }
    }
    
</style>
<div class="md-home">
    <div class=" md-grid">
        <div class="column home_left">
            <h2 class="mdm">Mauro Data Mapper</h2>

            <p><em><strong>Mauro Data Mapper</strong> is an open-source platform that brings clarity and consistency to how data is described, shared, and understood.</em></p>

            <p>You can already see your data, perhaps as rows, columns, and values, but what if you could also see what it means:
                how it connects, where it comes from, and why it matters?</p>

            <p>Mauro gives teams a common language for collaboration and discovery, turning
                complex information into something clear, shared, and genuinely useful.</p>

            <p><a class="btn btn-secondary btn-space" href="./download/docker/">Download <span style="font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">&#xf019;</span></a> <a class="btn btn-primary" href="./about/introduction/">Find out more&hellip;</a></p>
        </div>

        <div class="column home_right">
            <a href="about/introduction">
                <div class="home-page-button">
                    <div class="home-page-button-img-frame">
                        <img src="home/About%20icon_edited.jpg"/>
                    </div>
                    <div class="home-page-button-text">
                        <span class="home-page-button-title">About</span>
                        <span class="home-page-button-summary">Discover more about Mauro Data Mapper, its history, and the plans for the future</span>
                    </div>
                </div>
            </a>

            <a href="glossary/glossary">
                <div class="home-page-button">
                    <div class="home-page-button-img-frame">
                        <img src="home/Glossary%20icon_edited.jpg"/>
                    </div>
                    <div class="home-page-button-text">
                        <span class="home-page-button-title">Glossary</span>
                        <span class="home-page-button-summary">Understand the terminology and how it's used</span>
                    </div>
                </div>
            </a>

            <a href="user-guides/">
                <div class="home-page-button">
                    <div class="home-page-button-img-frame">
                        <img src="home/User%20guides%20icon_edited.jpg"/>
                    </div>
                    <div class="home-page-button-text">
                        <span class="home-page-button-title">User Guides</span>
                        <span class="home-page-button-summary">Learn how to use Mauro Data Mapper yourself</span>
                    </div>
                </div>
            </a>

            <a href="tutorials/introduction">
                <div class="home-page-button">
                    <div class="home-page-button-img-frame">
                        <img src="home/Tutorials%20icon_edited.jpg"/>
                    </div>
                    <div class="home-page-button-text">
                        <span class="home-page-button-title">Tutorials</span>
                        <span class="home-page-button-summary">Study the full capabilities of Mauro Data Mapper and how it can benefit your work</span>
                    </div>
                </div>
            </a>

            <a href="rest-api/introduction">
                <div class="home-page-button">
                    <div class="home-page-button-img-frame">
                        <img src="home/API%20documentation%20icon_edited.png"/>
                    </div>
                    <div class="home-page-button-text">
                        <span class="home-page-button-title">API Documentation</span>
                        <span class="home-page-button-summary">Find out how to write scripts and applications to interact with Mauro Data Mapper</span>
                    </div>
                </div>
            </a>

            <a href="community/support">
                <div class="home-page-button">
                    <div class="home-page-button-img-frame">
                        <img src="home/Community%20icon_edited.jpg"/>
                    </div>
                    <div class="home-page-button-text">
                        <span class="home-page-button-title">Community</span>
                        <span class="home-page-button-summary">Find support and contribute to our code and documentation</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<img id="home-wave" src="assets/images/home-wave.svg"/>

{% endblock %}

{% block content %}

{% endblock %}

